In [1]:
import pandas as pd

In [15]:
data = pd.read_csv("/mnt/c/Users/ouyangkang/Documents/WeChat Files/wxid_btots2523c6z22/FileStorage/File/2024-06/diffpeaks.csv")

In [16]:
data

,Unnamed: 0,X,Log2FC,Mean,FDR,Pval,MeanDiff,AUC,MeanBGD,Time_CT_I,CT_I,group
0,1,chr1_5018116_5018616,-1.077412,0.042704,0.696626,0.030167,-0.049632,0.485926,0.092336,Day 1_AC,Day 1_AC,Day 1_AC
1,2,chr1_11033445_11033945,1.169023,0.079593,0.696626,0.010052,0.045307,0.514972,0.034286,Day 1_AC,Day 1_AC,Day 1_AC
2,3,chr1_18551132_18551632,-1.507714,0.043896,0.696626,0.003619,-0.084614,0.481954,0.128510,Day 1_AC,Day 1_AC,Day 1_AC
3,4,chr1_20069639_20070139,1.414674,0.042238,0.696626,0.028092,0.027644,0.508984,0.014593,Day 1_AC,Day 1_AC,Day 1_AC
4,5,chr1_20907986_20908486,-1.631299,0.007583,0.696626,0.019464,-0.020105,0.491012,0.027688,Day 1_AC,Day 1_AC,Day 1_AC
...,...,...,...,...,...,...,...,...,...,...,...,...
188250,188251,chrX_166316678_166317178,1.154706,0.053863,0.432032,0.010521,0.030771,0.514880,0.023091,Day 7_TEINH,Day 7_TEINH,Day 7_TEINH
188251,188252,chrX_166621558_166622058,1.415569,0.042881,0.293406,0.003178,0.028057,0.515926,0.014824,Day 7_TEINH,Day 7_TEINH,Day 7_TEINH
188252,188253,chrX_166788974_166789474,1.244765,0.078696,0.053393,0.000062,0.046644,0.529644,0.032052,Day 7_TEINH,Day 7_TEINH,Day 7_TEINH
188253,188254,chrX_167321356_167321856,1.046267,0.040808,0.361550,0.005831,0.022080,0.515814,0.018729,Day 7_TEINH,Day 7_TEINH,Day 7_TEINH
188254,188255,chrX_169036626_169037126,1.562270,0.043440,0.058861,0.000079,0.030053,0.524780,0.013387,Day 7_TEINH,Day 7_TEINH,Day 7_TEINH

In [17]:
data = data[["X", "Time_CT_I", "Log2FC"]]

In [18]:
data = data[data.Time_CT_I.str.contains("Day 28")]
data

                               X     Time_CT_I    Log2FC
72910       chr1_4519298_4519798     Day 28_AC  3.121027
72911       chr1_4611612_4612112     Day 28_AC  1.428634
72912     chr1_10008914_10009414     Day 28_AC  1.013563
72913     chr1_11033445_11033945     Day 28_AC  1.128246
72914     chr1_11413781_11414281     Day 28_AC  1.024513
...                          ...           ...       ...
129239  chrX_134808829_134809329  Day 28_TEINH  1.077251
129240  chrX_135922124_135922624  Day 28_TEINH  1.282814
129241  chrX_135975096_135975596  Day 28_TEINH  1.679033
129242  chrX_139871410_139871910  Day 28_TEINH  1.190456
129243  chrX_166788974_166789474  Day 28_TEINH  1.627546

[56334 rows x 3 columns]

In [22]:
data = data[data.Log2FC > 0]

In [23]:
data["Celltype"] = data.Time_CT_I.str.split("_").str[1]
data["Chromosome"] = data.X.str.split("_").str[0]
data["Start"] = data.X.str.split("_").str[1]
data["End"] = data.X.str.split("_").str[2]

/tmp/ipykernel_563/2495184152.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Celltype"] = data.Time_CT_I.str.split("_").str[1]
/tmp/ipykernel_563/2495184152.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Chromosome"] = data.X.str.split("_").str[0]
/tmp/ipykernel_563/2495184152.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Start"] = data.X.str.split("_").str[1]
/tmp/ipykernel_563/2495184152.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["End"] = data.X.str.split("_").str[2]

In [24]:
data

,X,Time_CT_I,Log2FC,Celltype,Chromosome,Start,End
72910,chr1_4519298_4519798,Day 28_AC,3.121027,AC,chr1,4519298,4519798
72911,chr1_4611612_4612112,Day 28_AC,1.428634,AC,chr1,4611612,4612112
72912,chr1_10008914_10009414,Day 28_AC,1.013563,AC,chr1,10008914,10009414
72913,chr1_11033445_11033945,Day 28_AC,1.128246,AC,chr1,11033445,11033945
72914,chr1_11413781_11414281,Day 28_AC,1.024513,AC,chr1,11413781,11414281
...,...,...,...,...,...,...,...
129239,chrX_134808829_134809329,Day 28_TEINH,1.077251,TEINH,chrX,134808829,134809329
129240,chrX_135922124_135922624,Day 28_TEINH,1.282814,TEINH,chrX,135922124,135922624
129241,chrX_135975096_135975596,Day 28_TEINH,1.679033,TEINH,chrX,135975096,135975596
129242,chrX_139871410_139871910,Day 28_TEINH,1.190456,TEINH,chrX,139871410,139871910
129243,chrX_166788974_166789474,Day 28_TEINH,1.627546,TEINH,chrX,166788974,166789474

In [25]:
data = data[["Chromosome", "Start", "End", "Celltype"]]

In [26]:
data

       Chromosome      Start        End Celltype
72910        chr1    4519298    4519798       AC
72911        chr1    4611612    4612112       AC
72912        chr1   10008914   10009414       AC
72913        chr1   11033445   11033945       AC
72914        chr1   11413781   11414281       AC
...           ...        ...        ...      ...
129239       chrX  134808829  134809329    TEINH
129240       chrX  135922124  135922624    TEINH
129241       chrX  135975096  135975596    TEINH
129242       chrX  139871410  139871910    TEINH
129243       chrX  166788974  166789474    TEINH

[47877 rows x 4 columns]

In [32]:
ct_list = list(set(data.Celltype.tolist()))
for ct in ct_list:
    tmp_df = data[data.Celltype.str.contains(ct)]
    tmp_df = tmp_df[["Chromosome", "Start", "End"]]
    tmp_df.to_csv("/mnt/c/Users/ouyangkang/Desktop/tmp_mouse/diff_peak/" + ct + "peak.bed", sep="\t", index=None)