In [1]:
import pandas as pd
import numpy as np

In [2]:
dir_path = "/mnt/d/dailywork/01_Smear_seq/cancer/eso_squamou_cancer/geo/GSE53625/"
# get sample annotation infomation
sample_info = {}
with open(dir_path + "GSE53625_series_matrix.txt", "r") as f:
    for line in f:
        if line.startswith("!Sample_"):
            key, value = line.strip().split("\t", 1)
            key = key.strip("!")
            sample_info[key] = value.split("\t")
sample_info_df = pd.DataFrame(sample_info)

# get sample*gene matrix
# find start row of sample*gene matrix
start_line = 0
with open(dir_path + "GSE53625_series_matrix.txt", "r") as f:
    for idx, line in enumerate(f):
        if line.startswith("!series_matrix_table_begin"):
            start_line = idx + 1
            break
matrix_df = pd.read_csv(dir_path + "GSE53625_series_matrix.txt", sep="\t", skiprows=start_line, comment="!")

In [3]:
matrix_df.head()

,ID_REF,GSM1296956,GSM1296957,GSM1296958,GSM1296959,GSM1296960,GSM1296961,GSM1296962,GSM1296963,GSM1296964,...,GSM1297304,GSM1297305,GSM1297306,GSM1297307,GSM1297308,GSM1297309,GSM1297310,GSM1297311,GSM1297312,GSM1297313
0,1,13.374975,13.555346,13.396705,13.843843,13.505687,13.865681,13.558679,13.821428,13.325379,...,14.755057,14.523150,13.366847,13.773212,14.800437,15.256065,14.967925,15.166759,15.198897,15.800609
1,2,3.536581,4.772572,4.804828,4.563550,4.750858,5.110868,4.286497,3.910839,5.489828,...,2.989318,3.274197,4.136096,3.846309,3.191611,3.658061,3.222255,3.170619,2.881199,2.788223
2,24,13.644486,14.153843,13.948490,14.390648,14.049400,14.407393,14.039293,14.165211,13.782069,...,15.109227,15.599209,15.466478,15.858328,15.153250,15.570171,15.230037,15.528894,15.230680,15.524473
3,25,3.929925,4.388201,4.395992,4.697154,4.476174,4.456455,4.075643,4.193375,4.851017,...,3.303802,3.349361,3.605046,3.546976,3.294372,3.675983,3.252973,3.288352,3.123193,4.139961
4,26,5.485977,5.412374,5.627752,5.511075,5.753380,5.964689,5.824498,5.501963,5.525633,...,6.983026,6.060983,5.600604,5.317658,5.913674,4.775737,5.800031,6.643709,5.977257,7.855444

In [4]:
sample_info_df.head()

,Sample_title,Sample_geo_accession,Sample_status,Sample_submission_date,Sample_last_update_date,Sample_type,Sample_channel_count,Sample_source_name_ch1,Sample_organism_ch1,Sample_characteristics_ch1,...,Sample_platform_id,Sample_contact_name,Sample_contact_email,Sample_contact_institute,Sample_contact_address,Sample_contact_city,Sample_contact_zip/postal_code,Sample_contact_country,Sample_supplementary_file,Sample_data_row_count
0,"""cancer tissue from patient 302""","""GSM1296956""","""Public on Mar 07 2014""","""Dec 23 2013""","""Mar 07 2014""","""RNA""","""1""","""cancer tissue from patient 302""","""Homo sapiens""","""tissue: cancer tissue from patient 302""",...,"""GPL18109""","""Jiagen,,Li""","""jiagen.li@hotmail.com""","""Cancer Institute, CAMS""","""17 Panjiayuannanli Chaoyang District""","""Beijing""","""100021""","""China""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM129...","""71584"""
1,"""normal tissue from patient 302""","""GSM1296957""","""Public on Mar 07 2014""","""Dec 23 2013""","""Mar 07 2014""","""RNA""","""1""","""normal tissue from patient 302""","""Homo sapiens""","""tissue: normal tissue from patient 302""",...,"""GPL18109""","""Jiagen,,Li""","""jiagen.li@hotmail.com""","""Cancer Institute, CAMS""","""17 Panjiayuannanli Chaoyang District""","""Beijing""","""100021""","""China""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM129...","""71584"""
2,"""cancer tissue from patient 303""","""GSM1296958""","""Public on Mar 07 2014""","""Dec 23 2013""","""Mar 07 2014""","""RNA""","""1""","""cancer tissue from patient 303""","""Homo sapiens""","""tissue: cancer tissue from patient 303""",...,"""GPL18109""","""Jiagen,,Li""","""jiagen.li@hotmail.com""","""Cancer Institute, CAMS""","""17 Panjiayuannanli Chaoyang District""","""Beijing""","""100021""","""China""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM129...","""71584"""
3,"""normal tissue from patient 303""","""GSM1296959""","""Public on Mar 07 2014""","""Dec 23 2013""","""Mar 07 2014""","""RNA""","""1""","""normal tissue from patient 303""","""Homo sapiens""","""tissue: normal tissue from patient 303""",...,"""GPL18109""","""Jiagen,,Li""","""jiagen.li@hotmail.com""","""Cancer Institute, CAMS""","""17 Panjiayuannanli Chaoyang District""","""Beijing""","""100021""","""China""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM129...","""71584"""
4,"""cancer tissue from patient 305""","""GSM1296960""","""Public on Mar 07 2014""","""Dec 23 2013""","""Mar 07 2014""","""RNA""","""1""","""cancer tissue from patient 305""","""Homo sapiens""","""tissue: cancer tissue from patient 305""",...,"""GPL18109""","""Jiagen,,Li""","""jiagen.li@hotmail.com""","""Cancer Institute, CAMS""","""17 Panjiayuannanli Chaoyang District""","""Beijing""","""100021""","""China""","""ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM129...","""71584"""

In [5]:
sample_info_df = sample_info_df[['Sample_title', 'Sample_geo_accession']]
sample_info_df.head()

                       Sample_title Sample_geo_accession
0  "cancer tissue from patient 302"         "GSM1296956"
1  "normal tissue from patient 302"         "GSM1296957"
2  "cancer tissue from patient 303"         "GSM1296958"
3  "normal tissue from patient 303"         "GSM1296959"
4  "cancer tissue from patient 305"         "GSM1296960"

In [9]:
sample_info_df["Sample_type"] = [i.strip("\"").strip() for i in sample_info_df.Sample_title.str.split("from").str[0]]
sample_info_df["Patient_ID"] = [i.strip("\"") for i in sample_info_df.Sample_title.str.split("from patient").str[1]]
sample_info_df['Sample_geo_accession'] = [i.strip("\"") for i in sample_info_df['Sample_geo_accession']]
sample_info_df.head()

,Sample_title,Sample_geo_accession,Sample_type,Patient_ID
0,"""cancer tissue from patient 302""",GSM1296956,cancer tissue,302
1,"""normal tissue from patient 302""",GSM1296957,normal tissue,302
2,"""cancer tissue from patient 303""",GSM1296958,cancer tissue,303
3,"""normal tissue from patient 303""",GSM1296959,normal tissue,303
4,"""cancer tissue from patient 305""",GSM1296960,cancer tissue,305

In [10]:
sample_info_df[["Patient_ID", "Sample_type", "Sample_geo_accession"]].to_csv(dir_path + "patient_geo_accession.csv", index=None)

In [23]:
print(len(matrix_df["ID_REF"]) == len(set(matrix_df["ID_REF"])))
print(matrix_df.shape)

True
(71584, 359)

In [29]:
probe2gene = pd.read_csv("/mnt/d/dailywork/01_Smear_seq/cancer/eso_squamou_cancer/geo/probe2gene_GPL19748.csv", index_col=0)
probe2gene.head()

                    probe_id   symbol
1    RNA47956|UCSC_6737_1595  DDX11L1
2    RNA47956|UCSC_6737_1595   WASH7P
3  RNA40079|RefSeq_2107_1652  DDX11L1
4  RNA40079|RefSeq_2107_1652   WASH7P
5    RNA47957|UCSC_6738_1595  DDX11L1

In [40]:
start_index = 0
end_index = 0
with open("/mnt/d/dailywork/01_Smear_seq/cancer/eso_squamou_cancer/geo/GSE53625/GSE53625_family.soft", 'r') as f:
    for idx, line in enumerate(f):
        if line.startswith('!platform_table_begin'):
            start_index = idx + 1
        if line.startswith('!platform_table_end'):
            end_index = idx -1
            break

id2probe = pd.read_csv("/mnt/d/dailywork/01_Smear_seq/cancer/eso_squamou_cancer/geo/GSE53625/GSE53625_family.soft", sep='\t', skiprows=start_index, nrows=end_index - start_index)
print(id2probe.shape)
id2probe.head()

(71584, 6)

     ID  COL  ROW          SPOT_ID Control Type SEQUENCE
0   206  532  269        (-)3xSLv1          neg      NaN
1  1837  527   68     (+)E1A_r60_1          pos      NaN
2  3355  523   91     (+)E1A_r60_3          pos      NaN
3  1510  528   42  (+)E1A_r60_a104          pos      NaN
4  2286  526  189  (+)E1A_r60_a107          pos      NaN

In [66]:
probe2gene.rename(columns={"probe_id": "SPOT_ID"}, inplace=True)

In [93]:
id_symbol_info = id2probe.merge(probe2gene, on="SPOT_ID")
print(id_symbol_info.shape)
id_symbol_info.head()

(89233, 7)

,ID,COL,ROW,SPOT_ID,Control Type,SEQUENCE,symbol
0,12414,496,333,CB_000001,FALSE,TTTACCTCGGTGTCCTACCAGCAAGGGGTCCTGTCTGCCACCATCC...,TRBC1
1,12228,497,25,CB_000003,FALSE,AACCTGGAGCCTGGGAAGCTTCCAGGAAGGCTTGGGGGGAATCCAA...,LINC02356
2,33906,433,189,CB_000004,FALSE,CACATGTGTCAGGCTATCTCATAAGTTTAAGTCCTTACAGACAGGC...,CWF19L1
3,653,531,55,CB_000005,FALSE,AGATGCAGCTGCCGTCTTTTCCTTGAGCGACCAGCAGATGGCAGCC...,AC096996.2
4,108,532,126,CB_000006,FALSE,ATGAGCAGTGACTTTCTACTCTCCATCCAGCAGCCAACAATAGACT...,AC006207.1

In [94]:
id_symbol_info.drop_duplicates(subset=['ID'], inplace=True)

In [95]:
id_symbol_dict = dict(zip(id_symbol_info['ID'], id_symbol_info['symbol']))

In [113]:
matrix_df["ID_REF"] = matrix_df["ID_REF"].apply(lambda x: id_symbol_dict.get(x, np.nan))

In [116]:
matrix_df.dropna(inplace=True)

In [118]:
matrix_df.rename(columns={'ID_REF': 'Gene'}, inplace=True)

In [119]:
matrix_df.head()

,Gene,GSM1296956,GSM1296957,GSM1296958,GSM1296959,GSM1296960,GSM1296961,GSM1296962,GSM1296963,GSM1296964,...,GSM1297304,GSM1297305,GSM1297306,GSM1297307,GSM1297308,GSM1297309,GSM1297310,GSM1297311,GSM1297312,GSM1297313
3,CTNNA2,3.929925,4.388201,4.395992,4.697154,4.476174,4.456455,4.075643,4.193375,4.851017,...,3.303802,3.349361,3.605046,3.546976,3.294372,3.675983,3.252973,3.288352,3.123193,4.139961
4,SNTG1,5.485977,5.412374,5.627752,5.511075,5.753380,5.964689,5.824498,5.501963,5.525633,...,6.983026,6.060983,5.600604,5.317658,5.913674,4.775737,5.800031,6.643709,5.977257,7.855444
5,CCDC7,9.363128,9.339831,7.867446,8.943584,8.475744,9.145798,9.060123,9.360496,8.620048,...,8.567308,8.436002,8.746513,8.583297,8.817289,9.004857,8.428823,8.632197,8.534075,10.303096
6,DNAJB1,13.134106,13.789576,13.424588,14.181927,14.255647,14.294807,11.946494,14.717723,13.207616,...,13.287464,14.901840,14.026521,13.262797,14.155728,13.803322,13.788715,14.925433,13.881569,14.477842
9,SHANK1,10.605277,10.518348,10.666406,10.924152,10.651861,11.188654,10.521152,10.922526,10.264530,...,11.710136,11.862452,10.891326,10.780444,11.365654,11.150531,11.424053,11.331890,11.133855,12.797127

In [120]:
matrix_df.to_csv("/mnt/d/dailywork/01_Smear_seq/cancer/eso_squamou_cancer/geo/GSE53625/preparation_for_ssGSEA.tsv", sep='\t', index=False)

In [2]:
matrix_df = pd.read_csv("/mnt/d/dailywork/01_Smear_seq/cancer/eso_squamou_cancer/geo/GSE53625/preparation_for_ssGSEA.tsv", sep='\t')

In [6]:
matrix_df.drop_duplicates(subset='Gene', keep='first', inplace=True)

In [9]:
matrix_df = matrix_df.set_index(matrix_df.columns[0])
matrix_df.index.name = None
matrix_df.head()

,GSM1296956,GSM1296957,GSM1296958,GSM1296959,GSM1296960,GSM1296961,GSM1296962,GSM1296963,GSM1296964,GSM1296965,...,GSM1297304,GSM1297305,GSM1297306,GSM1297307,GSM1297308,GSM1297309,GSM1297310,GSM1297311,GSM1297312,GSM1297313
CTNNA2,3.929925,4.388201,4.395992,4.697154,4.476174,4.456455,4.075643,4.193375,4.851017,5.018208,...,3.303802,3.349361,3.605046,3.546976,3.294372,3.675983,3.252973,3.288352,3.123193,4.139961
SNTG1,5.485977,5.412374,5.627752,5.511075,5.753380,5.964689,5.824498,5.501963,5.525633,5.746703,...,6.983026,6.060983,5.600604,5.317658,5.913674,4.775737,5.800031,6.643709,5.977257,7.855444
CCDC7,9.363128,9.339831,7.867446,8.943584,8.475744,9.145798,9.060123,9.360496,8.620048,8.671547,...,8.567308,8.436002,8.746513,8.583297,8.817289,9.004857,8.428823,8.632197,8.534075,10.303096
DNAJB1,13.134106,13.789576,13.424588,14.181927,14.255647,14.294807,11.946494,14.717723,13.207616,14.315537,...,13.287464,14.901840,14.026521,13.262797,14.155728,13.803322,13.788715,14.925433,13.881569,14.477842
SHANK1,10.605277,10.518348,10.666406,10.924152,10.651861,11.188654,10.521152,10.922526,10.264530,10.649604,...,11.710136,11.862452,10.891326,10.780444,11.365654,11.150531,11.424053,11.331890,11.133855,12.797127

In [10]:
matrix_df.to_csv("/mnt/d/dailywork/01_Smear_seq/cancer/eso_squamou_cancer/geo/GSE53625/preparation_for_ssGSEA.tsv", sep='\t')