In [2]:
import pandas as pd

In [4]:
data = pd.read_excel("/mnt/c/Users/ouyangkang/Downloads/GSE226192_mRNA_exp.xlsx")

In [6]:
data.to_csv("/mnt/c/Users/ouyangkang/Downloads/trans.tsv", index=None, sep="\t")

In [ ]:
data.to_csv("/mnt/c/Users/ouyangkang/Desktop/GSE", index=None, quoting=True)

,gene_id,N1,N2,N3,N4,T1,T2,T3,T4
0,A1BG,0.595835,0.462630,0.273621,0.970392,2.011162,1.287940,0.347748,1.354881
1,A1CF,0.000000,0.000000,0.000000,0.000000,0.008568,0.000000,0.000000,0.000000
2,A2M,271.660133,160.472825,113.643661,105.204862,71.005296,127.247760,135.562529,156.061406
3,A2ML1,0.843949,373.279279,6.334268,728.389203,0.061616,8.426904,58.109444,14.273435
4,A3GALT2,0.223606,0.042033,0.787250,0.194789,0.119719,0.041173,0.600315,0.125300
...,...,...,...,...,...,...,...,...,...
20025,ZYG11A,0.136719,0.570231,0.097774,1.198442,1.509751,0.621500,0.838217,0.885826
20026,ZYG11B,14.904615,9.974522,25.791210,8.985461,7.129375,6.965109,8.443262,9.298804
20027,ZYX,112.131689,63.400607,49.553828,50.420302,97.257835,61.618580,63.671528,63.107242
20028,ZZEF1,20.593368,14.500716,11.337667,14.686112,11.271349,10.841313,16.693999,14.143280
20029,ZZZ3,7.967188,6.936945,5.582142,6.485567,9.863162,7.275733,8.814368,7.939426

In [8]:
data = pd.read_csv("/mnt/c/Users/ouyangkang/Desktop/tpm_GEO.tsv", sep="\t")

In [9]:
data.head()

,GSM7067662,GSM7067663,GSM7067664,GSM7067665,GSM7067666,GSM7067667,GSM7067668,GSM7067669
A1BG,11.674895,5.142153,1.705642,9.668307,3.557758,2.494113,1.738729,4.493741
A1BG-AS1,20.083294,10.024903,2.284510,24.117779,7.244253,7.013134,3.027474,8.504889
A1CF,0.047096,0.009270,0.062366,0.021526,0.062480,0.012097,0.094455,0.057216
A2M,205.209487,275.256262,250.820710,383.942543,731.289525,443.650609,327.966993,247.098905
A2M-AS1,43.773408,55.551758,38.788984,65.811916,161.990447,97.348202,76.239446,47.580841

In [10]:
data[data.index == "POSTN"]

,GSM7067662,GSM7067663,GSM7067664,GSM7067665,GSM7067666,GSM7067667,GSM7067668,GSM7067669
POSTN,3550.579831,259.067179,395.061509,437.685269,43.403035,19.570173,36.93646,14.995367

In [11]:
import numpy as np

data = np.log2(data + 0.001)

In [12]:
data[data.index == "POSTN"]

,GSM7067662,GSM7067663,GSM7067664,GSM7067665,GSM7067666,GSM7067667,GSM7067668,GSM7067669
POSTN,11.793839,8.017188,8.625937,8.773753,5.439757,4.290658,5.207013,3.906541

In [13]:
data.min()

GSM7067662   -9.965784
GSM7067663   -9.965784
GSM7067664   -9.965784
GSM7067665   -9.965784
GSM7067666   -9.965784
GSM7067667   -9.965784
GSM7067668   -9.965784
GSM7067669   -9.965784
dtype: float64

In [14]:
data.to_csv("tmp_result.tsv", sep="\t")