In [1]:
from pathlib import Path
import pandas as pd

In [2]:
data_dir = "/mnt/d/dailywork/Mouse_brain/fig_2B_raw_file"

In [3]:
integrate_data = pd.DataFrame()

for path in Path(data_dir).iterdir():
    
    data = pd.read_csv(path, index_col=0)
    cell_type = path.name.split('_')[0]
    data[cell_type] = 1
    data = data[[cell_type]].T

    integrate_data = pd.concat([integrate_data, data])

In [4]:
integrate_data = integrate_data.T
integrate_data.head()

,AC,CHOR,DGGRC,MAC,MEGLU,MGL,MSN,NGNBL,OLG,OPC,PEP,TEGLU,TEINH
chr1_132647837_132648337,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chr10_80075208_80075708,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1.0
chr11_51874199_51874699,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN
chr11_59458866_59459366,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chr11_62494697_62495197,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
integrate_data.fillna(0, inplace=True)
integrate_data.head()

,AC,CHOR,DGGRC,MAC,MEGLU,MGL,MSN,NGNBL,OLG,OPC,PEP,TEGLU,TEINH
chr1_132647837_132648337,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
chr10_80075208_80075708,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
chr11_51874199_51874699,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
chr11_59458866_59459366,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
chr11_62494697_62495197,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
len(integrate_data.index.tolist()) == len(set(integrate_data.index.tolist()))

True

In [7]:
integrate_data.shape

(183795, 13)

In [10]:
integrate_data.to_csv('/mnt/d/dailywork/Mouse_brain/integrated_data.csv')