In [4]:
from pathlib import Path
import pandas as pd

In [2]:
data_dir = "/mnt/d/dailywork/Mouse_brain/fig_2B_raw_file"

In [3]:
integrate_data = pd.DataFrame()

for path in Path(data_dir).iterdir():
    
    data = pd.read_csv(path, index_col=0)
    cell_type = path.name.split('_')[0]
    data[cell_type] = 1
    data = data[[cell_type]].T

    integrate_data = pd.concat([integrate_data, data])

In [4]:
integrate_data = integrate_data.T
integrate_data.head()

,AC,CHOR,DGGRC,MAC,MEGLU,MGL,MSN,NGNBL,OLG,OPC,PEP,TEGLU,TEINH
chr1_132647837_132648337,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chr10_80075208_80075708,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,1.0,1.0
chr11_51874199_51874699,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN
chr11_59458866_59459366,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chr11_62494697_62495197,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
integrate_data.fillna(0, inplace=True)
integrate_data.head()

,AC,CHOR,DGGRC,MAC,MEGLU,MGL,MSN,NGNBL,OLG,OPC,PEP,TEGLU,TEINH
chr1_132647837_132648337,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
chr10_80075208_80075708,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
chr11_51874199_51874699,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
chr11_59458866_59459366,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
chr11_62494697_62495197,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
len(integrate_data.index.tolist()) == len(set(integrate_data.index.tolist()))

True

In [7]:
integrate_data.shape

(183795, 13)

In [10]:
integrate_data.to_csv('/mnt/d/dailywork/Mouse_brain/integrated_data.csv')

# 2024-02-28 pre-processing diff peak data use another data

In [38]:
data = pd.read_csv("/mnt/d/dailywork/Mouse_brain/fig_2B_raw_file/diffpeaks.csv", index_col=0)

In [39]:
len(data.X.tolist()) == len(set(data.X.tolist()))

False

In [40]:
print(data.shape)
data.head(5)

(65703, 11)

,X,Log2FC,Mean,FDR,Pval,MeanDiff,AUC,MeanBGD,Time_CT_I,CT_I,group
2,chr1_20867384_20867884,1.740221,0.035007,0.700585,0.006817,0.025930,0.514126,0.009077,Day 1_AC,AC,Day 1_AC
3,chr1_34690402_34690902,1.940598,0.046933,0.286065,0.000136,0.036186,0.520926,0.010748,Day 1_AC,AC,Day 1_AC
4,chr1_37985671_37986171,-2.652205,0.004362,0.167255,0.000042,-0.033631,0.478992,0.037993,Day 1_AC,AC,Day 1_AC
5,chr1_63182182_63182682,-2.193080,0.003574,0.700585,0.007086,-0.019915,0.489988,0.023490,Day 1_AC,AC,Day 1_AC
6,chr1_64143040_64143540,-2.490458,0.001965,0.700585,0.002444,-0.018315,0.487968,0.020280,Day 1_AC,AC,Day 1_AC

In [42]:
data = data[~data.CT_I.isin(['NGNBL','MAC','FB','EPEN','CHOR','DGGRC'])]
print(data.shape)
print(len(set(data.X)))

(61167, 11)
60973

In [44]:
last_data = data.pivot(index="X", columns="CT_I", values="Log2FC")

In [45]:
last_data

CT_I,AC,EN,MEGLU,MGL,MSN,OLG,OPC,PEP,TEGLU,TEINH
X,,,,,,,,,,
chr10_100030327_100030827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.036723,NaN
chr10_100065832_100066332,1.354397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chr10_100111221_100111721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.052608,NaN,NaN
chr10_100128111_1001286111,NaN,NaN,-1.47406,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chr10_100155520_100156020,2.002544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
chrX_99541897_995423971,1.844439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chrX_99585624_99586124,-1.389783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chrX_99592961_99593461,NaN,NaN,NaN,NaN,-1.032220,NaN,NaN,NaN,NaN,NaN
chrX_99824852_99825352,NaN,NaN,NaN,NaN,1.591780,NaN,NaN,NaN,NaN,NaN
chrX_9996950_9997450,NaN,NaN,NaN,NaN,-2.101615,NaN,NaN,NaN,NaN,NaN

In [47]:
last_data.index.name = None

In [48]:
last_data

CT_I,AC,EN,MEGLU,MGL,MSN,OLG,OPC,PEP,TEGLU,TEINH
chr10_100030327_100030827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.036723,NaN
chr10_100065832_100066332,1.354397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chr10_100111221_100111721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.052608,NaN,NaN
chr10_100128111_1001286111,NaN,NaN,-1.47406,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chr10_100155520_100156020,2.002544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
chrX_99541897_995423971,1.844439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chrX_99585624_99586124,-1.389783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chrX_99592961_99593461,NaN,NaN,NaN,NaN,-1.032220,NaN,NaN,NaN,NaN,NaN
chrX_99824852_99825352,NaN,NaN,NaN,NaN,1.591780,NaN,NaN,NaN,NaN,NaN
chrX_9996950_9997450,NaN,NaN,NaN,NaN,-2.101615,NaN,NaN,NaN,NaN,NaN

In [51]:
last_data.columns.name = None

In [52]:
last_data

,AC,EN,MEGLU,MGL,MSN,OLG,OPC,PEP,TEGLU,TEINH
chr10_100030327_100030827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.036723,NaN
chr10_100065832_100066332,1.354397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chr10_100111221_100111721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.052608,NaN,NaN
chr10_100128111_1001286111,NaN,NaN,-1.47406,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chr10_100155520_100156020,2.002544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
chrX_99541897_995423971,1.844439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chrX_99585624_99586124,-1.389783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chrX_99592961_99593461,NaN,NaN,NaN,NaN,-1.032220,NaN,NaN,NaN,NaN,NaN
chrX_99824852_99825352,NaN,NaN,NaN,NaN,1.591780,NaN,NaN,NaN,NaN,NaN
chrX_9996950_9997450,NaN,NaN,NaN,NaN,-2.101615,NaN,NaN,NaN,NaN,NaN

In [53]:
last_data[last_data.notna()] = 1

In [55]:
last_data.fillna(0, inplace=True)

In [57]:
last_data.to_csv("/mnt/d/dailywork/Mouse_brain/upset_0228.csv")